/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container de Login */
.login-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #ff66b2;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    background-color: #ff66b2;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #ff3399;
}

.hidden {
    display: none;
}

#loginError {
    color: red;
    margin-top: 10px;
}
