body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    background-color: #ff66b2;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff3399;
}

p {
    font-size: 20px;
    color: #333;
}

.gifs {
    margin-bottom: 20px;
}

.gifs img {
    width: 200px; /* Ajuste o tamanho dos GIFs aqui */
    height: 200px; /* Ajuste o tamanho dos GIFs aqui */
    margin: 10px;
    border-radius: 10px;
}

.hidden {
    display: none;
}
